/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
   background-color: #535151ff;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.nav-container {
  border: 2px solid #1976d2;    
  border-radius: 8px;           
  padding: 1rem 2rem;           
  margin: 1rem auto;            
  max-width: 600px;             
  background-color: #daccccff;   
  display: flex;                
  justify-content: center;      
  align-items: center;          
}

.nav-list-parent {
  display: flex;
  list-style: none;
  gap: 20px; 
  padding: 0;
  margin: 0;
}

.nav-item {
  cursor: pointer;
  font-weight: bold;
  padding:20px;
}

.home-parent-div{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
}